# -----------------------------------------------------------
# General

distros/*
MPS/*

.DS_Store
.metadata
.svn

junitvmwatcher*.properties
build.properties
TEST-*.xml
junit*.properties

# -----------------------------------------------------------
# * diagrams
code/languages/com.mbeddr.core/diagrams/*.dot
code/languages/com.mbeddr.core/diagrams/*.gv
code/languages/com.mbeddr.core/diagrams/*.png

# -----------------------------------------------------------
# * languages
code/languages/*/languages/*/classes_gen
code/languages/*/languages/*/source_gen
code/languages/*/languages/*/source_gen.caches

# -----------------------------------------------------------
# * lib - here we seem to need the generated sources.
code/languages/*/lib/*/classes_gen
code/languages/*/lib/*/source_gen.caches



# -----------------------------------------------------------
# * tests
code/languages/*/tests/*/classes_gen
code/languages/*/tests/*/source_gen
code/languages/*/tests/*/source_gen.caches

# -----------------------------------------------------------
# * libs
code/languages/*/lib/*/classes_gen
code/languages/*/lib/*/source_gen
code/languages/*/lib/*/source_gen.caches


# -----------------------------------------------------------
# * solutions
code/languages/*/solutions/*/classes_gen
code/languages/*/solutions/*/source_gen
code/languages/*/solutions/*/source_gen.caches

# -----------------------------------------------------------
# * project settings
code/languages/*/*.dev.iws
code/languages/*/build.properties
code/languages/*/TEST*.xml

# -----------------------------------------------------------
# applications
code/applications/*/*.iws
code/applications/*/solutions/*/source_gen
code/applications/*/solutions/*/source_gen.caches
code/applications/*/solutions/*/classes_gen
code/applications/*/tests/*/source_gen
code/applications/*/tests/*/source_gen.caches
code/applications/*/tests/*/classes_gen
code/applications/*/languages/*/source_gen
code/applications/*/languages/*/source_gen.caches
code/applications/*/languages/*/classes_gen
code/applications/*/source_gen
code/applications/*/source_gen.caches
code/applications/*/classes_gen
code/applications/*/classes_gen.caches
code/applications/*/build.properties

#-----------------------------------------------------------
# tests
code/languages/*/solutions/*/test_gen.caches/
code/languages/*/solutions/*/test_gen/


# -----------------------------------------------------------
# documents
deliverables/*/*.aux
deliverables/*/*.bbl
deliverables/*/*.blg
deliverables/*/*.dvi
deliverables/*/*.log
deliverables/*/*.out
deliverables/*/*.toc

papers/*/*.aux
papers/*/*.bbl
papers/*/*.blg
papers/*/*.dvi
papers/*/*.log
papers/*/*.out
papers/*/*.toc
papers/*/*.synctex.gz

# -----------------------------------------------------------
# tools
tools/zgrviewer/zgrviewerformps/target/*
tools/zgrviewer/zvtm-core-formps/target/*
