*.mps merge=mps
trace.info merge=mps
.dependencies merge=mps
dependencies merge=mps
generated merge=mps
*.mpl merge=mps
*.msd merge=mps
*.devkit merge=mps
*.mpr merge=mps
*.mpsr text merge=mps
*.model text merge=mps
