[submodule "code/plugins/sl-all"]
	path = code/plugins/sl-all
	url = https://github.com/slisson/mps-all.git
	branch = master
	ignore = dirty
[submodule "code/plugins/mps-incquery"]
	path = code/plugins/mps-incquery
	url = https://github.com/szabta89/MPS-IncQuery.git
