<!--
/*******************************************************************************
	* Copyright (c) 2013 itemis AG.
	* All rights reserved. This program and the accompanying materials
	* are made available under the terms of the Eclipse Public License v1.0
	* which accompanies this distribution, and is available at
	* http://www.eclipse.org/legal/epl-v10.html
	*
	* Contributors:
	*    Kolja Dummann 
*******************************************************************************/
-->
<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mbeddr_installer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <appSettings>
      
      <add key="NuSMV_URL_64" value="http://nusmv.fbk.eu/distrib/NuSMV-2.5.4-x86_64-w64-mingw32.zip"/>
      <add key="NuSMV_URL" value="http://nusmv.fbk.eu/distrib/NuSMV-2.5.4-i386-pc-mingw32.zip"/>

      <add key="CYGWIN_URL_64" value="http://cygwin.com/setup-x86_64.exe"/>
      <add key="CYGWIN_URL" value="http://cygwin.com/setup-x86.exe"/>

      <add key="CBMC_URL" value="http://www.cprover.org/cbmc/download/cbmc-4-5-win.zip"/>
      <add key="CBMC_MD5" value="bb95427a7bf3eb9efbf8c4a5034b02fc"/>

      <add key="YICES_URL_64" value="http://yices.csl.sri.com/cgi-bin/yices-newlicense.cgi?file=yices-1.0.39-x86_64-pc-mingw32.zip"/>
      <add key="YICES_URL" value="http://yices.csl.sri.com/cgi-bin/yices-newlicense.cgi?file=yices-1.0.39-i686-pc-mingw32.zip"/>

      <add key="ACCENT_URL" value="https://mbeddr-build.itemis.de/teamcity/guestAuth/repository/download/MbeddrGithubDistro_MbeddrRcp/latest.lastSuccessful/130.001.zip"/>

      <add key="ANT_URL" value="http://artfiles.org/apache.org//ant/binaries/apache-ant-1.9.2-bin.zip"/>
      <add key="ANT_MD5" value="7b6bb6b7caa645dc752ff22d81d2e608"/>

      <add key="GRAPHVIZ_URL" value ="http://www.graphviz.org/pub/graphviz/stable/windows/graphviz-2.32.msi"/>
      <add key="GRAPHVIZ_MD5" value ="e09df47b9cf857693b7a56c9d7bb4762"/>
      
      <add key="TUTORIAL_URL" value="https://github.com/mbeddr/mbeddr.core/releases/download/0.5-EAP2/com.mbeddr.tutorial.zip" />
      
    </appSettings>
</configuration>
